
# DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/opspilot?schema=public"

# AUTH
JWT_SECRET="generate_a_long_random_string_here"

# GOOGLE AI
API_KEY="your_gemini_api_key"

# INTEGRATIONS (SKELETON)
SHOPIFY_WEBHOOK_SECRET="your_shopify_secret"
WP_WEBHOOK_SECRET="opspilot_wp_secure_token_123"

# SERVER
PORT=3001
